body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #Title {
    font-size: 4rem; /* Increase the font size to 4rem */
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #ccc; /* Add some text shadow for contrast */
  }
  
  #Question {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
    display: none
  }
  
  #myText[type="text"] {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    outline: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
  
  #myText[type="text"]:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #mybutton {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.1rem;
}
  
  #mybutton:hover {
    background-color: #666;
  }
  
  #timer {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 7rem;
    display: none;
  }
  
  #start {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #2196F3; 
    border: 5px solid #333;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out;
    display: none;
  }
  
  #start:hover {
    background-color: #0D47A1; 
  }
  
  #easy{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #1b9e16; 
    border: 5px solid #333;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out;
  }

  #easy:hover {
    background-color: #086915; 
  }

  #medium{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #df8c10; 
    border: 5px solid #333;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out;
  }

  #medium:hover {
    background-color: #a56a11; 
  }

  #hard{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #e9380c; 
    border: 5px solid #333;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out;
  }

  #hard:hover {
    background-color: #a82d0e; 
  }

  #mode{
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 2rem;
    display: none;
    border: 5px solid #ccc;
    padding: 1rem;
    background-color: #d6d6d6;
  }

  #score{
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 2rem;
    border: 5px solid #ccc;
    display: none;
    padding: 1rem;
    background-color: #d6d6d6;
  }
  
  
  
